
* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }
  
body {
    background-color: #BAA1A7;
    display: grid;
    height: 100vh;
    margin: 0;
    font-family: 'Staatliches', cursive;
}

.container{
    display: grid;
    grid-template-areas: 
    "ttl ttl ttl ttl ttl"
    "flp1 flp1 wnr flp2 flp2"
    "cc1 cd1 drw cd2 cc2"
    ". plr1 rsrt plr2 ."
    ;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}
.title{ 
    grid-area: ttl; 
    place-self: center;
    font-size: 30px;
}    
.flipped-card1{
    grid-area: flp1; 
    place-self: center;
    
}
.winner-msg{
    grid-area: wnr;
    place-self: center;
}
.flipped-card2{
    grid-area: flp2; 
    place-self: center;
}
.card-count1{
    grid-area: cc1;
    place-self: center;
}
.card-deck1{
    grid-area: cd1;
    place-self: center;
  
}
.drw-btn{
    grid-area: drw;
    place-self: center;
}
.card-deck2{
    grid-area: cd2;
    place-self: center;
}
.card-count2{
    grid-area: cc2;
    place-self: center;
}
.player1{
    grid-area: plr1;
    place-self: center;
    
}
.restart-btn{
    grid-area: rsrt;
    place-self: center;
    
}
.player2{
    grid-area: plr2;
    place-self: center;
    
}

