
* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
}
  
body {
    background-color: #BAA1A7;
    display: grid;
    height: 100vh;
    margin: 0;
    font-family: 'Staatliches', cursive;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: 4px dotted grey;
}

.container{
    display: grid;
    grid-template-areas: 
    "ttl ttl ttl ttl ttl"
    "flp1 flp1 wnr flp2 flp2"
    "cc1 cd1 drw cd2 cc2"
    ". plr1 rsrt plr2 ."
    ;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
}

.title{
    grid-area: ttl;
    place-self: center;
}

.flp1 {
    grid-area: flp1;
    place-self: center;
}

.wnr {
    grid-area: wnr;
    place-self: center;
}

.flp2 {
    grid-area: flp2;
    place-self: center;
}

.cc1{
    grid-area: cc1;
    place-self: center;
}

.cd1{
    grid-area: cd1;
    place-self: center;
}

.drw{
    grid-area: drw;
    place-self: center;
}

.cd2{
    grid-area: cd2;
    place-self: center;
}

.cc2{
    grid-area: cc2;
    place-self: center;
}

.plr1{
    grid-area: plr1;
    place-self: center;
}

.rsrt{
    grid-area: rsrt;
    place-self: center;
}

.plr2{
    grid-area: plr2;
    place-self: center;
}

h1{
    font-size: 80px;
}

img{
    max-width: 20%;
    height: auto;
    margin: 0 0 0 50px;
}

.card-count2 p {
    font-size: 20px;
    border: 5px solid #CE6D8B;
    padding: 15px 60px 15px 15px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    color: black;
    border: 4px solid grey;
    border-radius: 5px;
    outline: none;
    font-family: 'Staatliches', cursive;
  }
  
button:hover {
    background-color: grey;
    color: white;
    cursor: pointer;
}

.card-count{
    font-size: 20px;
    border: 5px solid black;
    padding: 5px 60px 5px 5px;
}

.player1 p {
    font-size: 25px;
    border: 5px solid black;
    padding: 10px;
}

.player2 p {
    font-size: 25px;
    border: 5px solid black;
    padding: 10px;
}